        table.interactions-result {
            margin-top: 10px;
            border-collapse: collapse;
            font-size: 11px;
        }

        table.interactions-result .odd {
            background-color: #e7e7e7;
        }

        table.interactions-result .odd {
            background-color: #d7d7d7;
        }

        table.interactions-result td {
            padding: 2px 5px;
        }

        .globi-taxon-info > .result-source {
            border-radius: 5px;
            text-align: left;
            margin-left: 19px;
            padding-left: 2px;
            background-color: #d7d7d7;
            opacity: 0.7;
            z-index: 4;
        }


        * {
            margin: 0;
            padding: 0;
        }

        body, html {
            height: 100%;
            width: 100%;
        }

        body {
            overflow: hidden;
        }
