body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}

.answers {
  font-size: 0.7em;
}

p.summary {
  font-size: 0.8em;
}

p.question {
  font-size: 0.8em;
}

p.examples {
  font-size: 1em;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

div.figure {
  width: 40%;
  border: none;
  margin: 0.3em;
  padding: 0.3em;
}

div.figure-wide {
  width: 100%;
  border: none;
  margin: 0.3em;
  padding: 0.3em;
}

div.figure p {
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

.logos > img {
  height: 10em;
  vertical-align:top;
  position:relative;
  padding-top: 2em;
  padding-left: 5em;
}

ul {
  list-style: none;
  padding-left: 0.1em;
}

li {
  padding: 0.1em 0.2em;
  font-size: 1.2em;
}

li.closed:before {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/67/Closed_Access_logo_white.svg);
  background-size: 1em 1em;
  display: inline-block;
  width: 1em; 
  height: 1em;
  margin-right: 0.5em;
  content: "";
}

li.open:before {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/77/Open_Access_logo_PLoS_transparent.svg);
  background-size: 1em 1em;
  display: inline-block;
  width: 1em; 
  height: 1em;
  margin-right: 0.5em;
  content: "";
}

li.citation {
  padding: 0.1em 0.2em;
  font-size: 0.8em;
}

.menu,
.menu ul,
.menu li,
.menu a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.ui-widget {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
  font-size: 1.1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
  font-size: 1em;
}

.menu {
    height: 3.3em;
    width: auto;
  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 3.0em;
}

.menu li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
 
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
 
    font-weight: bold;
    color: rgba(0,0,0,1.0);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
 
.menu li:first-child a { border-left: none; }
.menu li:last-child a { border-right: none; }
 
.menu li:hover > a { color: rgba(0,0,255,.9); }

@media (max-width: 767px) {
  .menu li:first-child {
    float: none;
  }
  
  .ui-widget {
    clear: both;
  }
}

img.taxonLinkIcon {
  width: 0.9em;
  height: auto;
  padding: 0.1em;
}

.taxonLinkShow {
  cursor: pointer;
}

.taxonFollow {
  cursor: pointer;
}

.stats {
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 0.2em;
}

.stats_green {
  background-color: greenyellow;
}

.stats_yellow {
  background-color: #ffff00;
}

.stats_red {
  background-color: #ff0000;
  color: #ffffff;
}

.stats_red > a:hover {
    color: grey;
}

.stats_red > a:visited {
    color: #ffffff;
}
.stats_red > a:link {
    color: #ffffff;
}
.stats_red > a:active {
    color: #ffffff;
}


.stats + .stats:before{
  content: '/';
  padding-right: 0.2em;
}

.badge-in-text img {
  max-height: 1.1em;
}
