_site/
.sass-cache/
.jekyll-metadata
.idea/
**/*.swp
.DS_Store
**/node_modules/*
node_modules/*
!node_modules/globi-bundle
!node_modules/globi-wheel
!node_modules/globi-hairball
!node_modules/globi-search
!node_modules/globi-panels
!node_modules/globi-spatial-selector
