<div class="figure figure-globi right">
<a href="https://gbatnet.org/"><img src="/covid19/gbatnet.png"/></a>
</div>

The **[GBatNet](https://gbatnet.org) Bat Eco-Interactions Working Group**, initially formed to liberate bat-virus data in April 2020 via [COVID19-TAF - Communities Taking Action](https://cetaf.org/covid19-taf-communities-taking-action), a community-rooted initiative raised jointly by [CETAF](https://cetaf.org) and [DiSSCo](https://www.dissco.eu/), aims to:

(1) make bat interaction data digitally accessible, 

(2) align bat taxonomic names to uncover their meaning, and

(3) provide open-access to bat literature.  

The information on this page does not aim to be a complete overview of activities, but rather a minimalist collection of past accomplishments and ongoing activities. 

[edit this page](https://github.com/globalbioticinteractions/globalbioticinteractions.github.io/edit/master/covid19/index.md) 

[```publications```](#publications) / [```grants```](#grants)

# Contact Info

 * Weekly meetings on Wednesdays 08:00 Pacific / 11:00 US Eastern / 17:00 Central European Time at [Zoom meeting room](https://asu.zoom.us/j/7588563077?pwd=NHV2RmlKMDh6cHFwWG53aVM1dlluZz09). 
 * [Meeting notes](https://docs.google.com/document/d/1yvOZVzv4hnr4E0p_0cNuISyF6c5Gd2Dvps_He9cwOBg/edit) (see versioned copies at [notes.docx](../gbatnet/notes.docx)/[.pdf](../gbatnet/notes.pdf) ) 
 * [Slack channel](https://covid19taf.slack.com/archives/C011W4GPXDX) https://covid19taf.slack.com/archives/C011W4GPXDX
 * [Shared Google Drive](https://drive.google.com/drive/folders/0AJXTgyhUHt7VUk9PVA)

# Integrations

[GloBI<-->Pensoft](/pensoft) and [GloBI<-->Plazi/Zenodo](/plazi-zenodo) integrations originated from these COVID-19 activities. Please visit respective integration pages [here](/pensoft) and [here](/plazi-zenodo) to see their status.   

# Timeline

**22 May 2020** - Released data publication: Poelen, Jorrit, Upham, Nathan, Agosti, Donat, Ruschel, Tatiana, Guidoti, Marcus, Reeder, DeeAnn, … Willoughby, Anna. (2020). CETAF-DiSSCo/COVID19-TAF biodiversity-related knowledge hub working group: indexed biotic interactions and review summary (Version 0.2) [Data set]. Zenodo. [http://doi.org/10.5281/zenodo.3839098](http://doi.org/10.5281/zenodo.3839098) . 

**26 May 2020** - Quentin published blog post "Releasing Biological Data from COVID-19 Lockdown" at [https://www.globalbioticinteractions.org/2020/05/26/releasing-biological-data-from-COVID-19-lockdown/](https://www.globalbioticinteractions.org/2020/05/26/releasing-biological-data-from-COVID-19-lockdown/)

**16 July 2020** - Guido adds Plazi-mediated publications to Zenodo using the custom "host of" Zenodo annotation that Alex implemented (e.g., [Luo et al. 2018](https://zenodo.org/record/3948922)). Soon after, Jorrit enabled the indexing of these Zenodo pubs. For context, see [related github issue](https://github.com/globalbioticinteractions/globalbioticinteractions/issues/488#issuecomment-658277871) and related tweets by [Donat](https://twitter.com/myrmoteras/status/1284123656138960898) and [GloBI](https://twitter.com/GlobalBiotic/status/1284171977662410754) .

**16 July 2020** - CETAF published [short video introduction of some COVID-19 knowledge hub contributors](https://www.youtube.com/watch?v=60KMgjqhP-E) 

**17 July 2020** - [video recording of ~10 minute overview of outcomes by Nathan](https://www.youtube.com/watch?v=Gnywe5hiMLU&amp;feature=youtu.be&amp;t=4622) titled "Liberating biodiversity data from Covid-19 lockdown" as part of the [CETAF-DiSSCo COVID-19 TaF Public event](https://www.dissco.eu/the-cetaf-dissco-covid-19-taskforce-reports/) .

**17 July 2020** - Mariya published blog post "Pensoft – GloBI workflow for FAIR data exchange and indexing of biotic interactions locked within scholarly articles" at [https://blog.pensoft.net/2020/07/17/pensoft-globi-workflow-for-fair-data-exchange-and-indexing-of-biotic-interactions-locked-within-scholarly-articles/](https://blog.pensoft.net/2020/07/17/pensoft-globi-workflow-for-fair-data-exchange-and-indexing-of-biotic-interactions-locked-within-scholarly-articles/).

**17 July 2020** - Donat published a blog post "Time for an interim review of Plazi’s Covid-19 related activities" at [http://plazi.org/news/beitrag/time-for-an-interim-review-of-plazis-covid-19-related-activities/3e26b3bc95a4b39f0a2a9d7fccee8b19/](http://plazi.org/news/beitrag/time-for-an-interim-review-of-plazis-covid-19-related-activities/3e26b3bc95a4b39f0a2a9d7fccee8b19/).

**11 Aug 2020** - Mariya submitted abstract ["Semantic Publishing Enables Text Mining of Biotic Interactions"](/pensoft/tdwg2020-semantic-publishing.pdf) to [virtual TDWG 2020](https://www.tdwg.org/conferences/2020/) annual conference Oct 19-23 2020.

**12 Aug 2020** - Nathan submitted abstract ["Liberating Biodiversity Data From COVID-19 Lockdown: Toward a knowledge hub for mammal host-virus information"](./tdwg2020-abstract.pdf) to [virtual TDWG 2020](https://www.tdwg.org/conferences/2020/) annual conference Oct 19-23 2020. 

**6 Oct 2020** - Released data publication: Poelen, Jorrit, Upham, Nathan, Agosti, Donat, Ruschel, Tatiana, Guidoti, Marcus, Reeder, DeeAnn, Simmons, Nancy; Penev, Lyubomir; Dimitrova, Mariya; Csorba, Gabor; Groom, Quentin; Willoughby, Anna. (2020). CETAF-DiSSCo/COVID19-TAF biodiversity-related knowledge hub working group: indexed biotic interactions and review summary (Version 0.3) [Data set]. Zenodo. http://doi.org/10.5281/zenodo.4068958 .

**23 Oct 2020** - Nathan Upham presents on at [TDWG 2020 Conference](https://www.tdwg.org/conferences/2020/): Upham NS, Agosti D, Poelen J, Penev L, Paul D, Reeder DM, Simmons NB, Csorba G, Groom Q, Dimitrova M, Miller JT (2020) Liberating Biodiversity Data From COVID-19 Lockdown: Toward a knowledge hub for mammal host-virus information. Biodiversity Information Science and Standards 4: e59199. [https://doi.org/10.3897/biss.4.59199](https://doi.org/10.3897/biss.4.59199). Presentation slides at: [https://drive.google.com/file/d/17m976m-hO_c6IjmLHd6DPa8CR7gS7ycq/](https://drive.google.com/file/d/17m976m-hO_c6IjmLHd6DPa8CR7gS7ycq/) . 

**12 Nov 2020** - Donat Agosti presents at [RDA](https://www.rd-alliance.org/)'s 2020 Meeting : Agosti, Donat, Poelen, Jorrit, Ioannidis, Alex, & Guidoti, Marcus. (2020, November). CETAF-DiSSCo COVID-19 TaF results in publishing biotic interactions. Presented at the RDA's 16th Plenary Meeting (RDA P16), Zenodo. [http://doi.org/10.5281/zenodo.4269959](http://doi.org/10.5281/zenodo.4269959) .

**15 June 2021** - publication of: Groom Q, Adriaens T, Bertolino S, Phelps K, Poelen JH, Reeder DM, Richardson DM, Simmons NB, Upham N (2021) Holistic understanding of contemporary ecosystems requires integration of data on domesticated, captive and cultivated organisms . <em>Biodiversity Data Journal</em> 9: e65371. [doi:10.3897/BDJ.9.e65371](https://doi.org/10.3897/BDJ.9.e65371). 

**21 June 2021** - Nathan Upham (PI) and DeeAnn Reeder (Co-PI) et al. awarded NIH grant "Intelligently predicting viral spillover risks from bats and other wild mammals" Project number 1R21AI164268-01 See also [https://reporter.nih.gov/project-details/10289637](https://reporter.nih.gov/project-details/10289637) .

**23 Sept 2021** - publication of: Van der Jeucht L, Groom Q, Agosti D, Phelps K, Reeder DM, Simmons NB (2021) Using iNaturalist to monitor adherence to best practices in bat handling. Biodiversity Data Journal 9: e68052. <a href="https://doi.org/10.3897/BDJ.9.e68052">https://doi.org/10.3897/BDJ.9.e68052</a>

**23 Sept 2021** - publication of: Nathan S Upham, Jorrit H Poelen, Deborah Paul, Quentin J Groom, Nancy B Simmons, Maarten P M Vanhove, Sandro Bertolino, DeeAnn M Reeder, Cristiane Bastos-Silveira, Atriya Sen, Beckett Sterner, Nico M Franz, Marcus Guidoti, Lyubomir Penev, Donat Agosti (2021) Liberating host–virus knowledge from biological dark data. The Lancet Planetary Health. <a href="https://doi.org/10.1016/S2542-5196(21)00196-0">https://doi.org/10.1016/S2542-5196(21)00196-0</a>.

**7 Aug 2022** - publication of: Sherman, Aja C., Geiselman, Cullen, Simons, Nancy B., Upham, Nathan S., Poelen, Jorrit H., Reeder, DeeAnn M., Bertolino, Sandro, Groom, Quentin, Phelps, Kendra, Agosti, Donat, & Willoughby, Anna R. (2022, August 7). What do we not know? Quantifying data gaps and biases in knowledge of bat co-roosting. 19the International Bat Research Conference, Austin, Texas, USA. Zenodo. [https://doi.org/10.5281/zenodo.6959687](https://doi.org/10.5281/zenodo.6959687) . Note that Cullen Geiselman presented live at conference, and Aja C. Sherman recorded presentation narrative in accompanying mp4 for asynchronous viewing. [pdf](https://zenodo.org/record/6959687/files/Rhinolophus_Thursday_3.30_Sherman.pdf) / [mp4](https://zenodo.org/record/6959687/files/video1555496857.mp4) / [streaming video](https://vimeo.com/manage/videos/744642070). 

**17 Nov 2022** - Nathan S Upham gives invited talk at EcoHealth Alliance: Upham, Nathan S. (2022, November 17). Mammal-centric spillover risk modeling: species meaning and ecological context are key. Zenodo. [doi:10.5281/zenodo.7414998](https://doi.org/10.5281/zenodo.7414998). [pdf](https://zenodo.org/record/7414998/files/Nathan-Upham-EcoHealthAlliance-talk-2022-11-17.pdf) / [mp4](https://zenodo.org/record/7414998/files/Nathan-Upham-EcoHealthAlliance-talk-2022-11-17.mp4) / [streaming video](https://vimeo.com/779248288) 

**9 May 2023** - published for internal review - Sherman, Aja, Geiselman, Cullen, & Poelen, Jorrit. (2023). A Standardized Review of Bat Names Across Multiple Taxonomic Authorities (0.1) [Data set]. Zenodo. [https://doi.org/10.5281/zenodo.7915722](https://doi.org/10.5281/zenodo.7915722) . Please contact authors for updates to author list, comments etc. 

**5 June 2023** - Nathan Upham presents "Taxonomic translation of bat-virus interaction data via automated alignment tools" at Digital Data in Biodiversity Research Conference 2023 at Arizona State University, Tempe, AZ. For [slides](https://zenodo.org/record/8409181/files/Upham_iDigBio-ASU_5Jun2023_final.pdf), see Upham, N., Sherman, A., Geiselman, C., Simmons, N., Phelps, K., Willoughby, A., Groom, Q., Agosti, D., Reeder, D., & Poelen, J. (2023, October 5). Taxonomic translation of bat-virus interaction data via automated alignment tools. [https://doi.org/10.5281/zenodo.8409181](https://doi.org/10.5281/zenodo.8409181). 

**5 June 2023** - Jorrit Poelen presents Poelen, Jorrit H., & Best, Jason. (2023, June 2). Signed Biodiversity Data Packages: A Method to Cite, Verify, Mobilize, and Future Proof, Large Image Corpora. hash://sha256/0154b9ddce4d2e280e627a08d1a2d42884201af6ac1ec19606e393deda57f4bb hash://md5/bae7f441cdd2648d2356b2330e4b71e8. Zenodo. [doi:10.5281/zenodo.7998190](https://doi.org/10.5281/zenodo.7998190) at Digital Data in Biodiversity Research Conference 2023 at Arizona State University, Tempe, AZ. [slides](https://zenodo.org/record/7998190/files/00_Poelen_DD2023.pdf) [recorded presentation](https://zenodo.org/record/7998190/files/00_Poelen_DD2023.mp4) [streaming presentation](https://vimeo.com/832006741). 

**7 June 2023** - Aja Sherman presents Sherman, Aja, Geiselman, Cullen, Simmons, Nancy, Poelen, Jorrit, Reeder, DeeAnn, Upham, Nathan, Phelps, Kendra, & Agosti, Donat. (2023, June 27). Harmonizing taxonomic resources is necessary for novel insights into bat roosting dataset. Zenodo. https://doi.org/10.5281/zenodo.8087069 at Digital Data in Biodiversity Research Conference 2023 at Arizona State University, Tempe, AZ. [recorded presentation](https://vimeo.com/840097528)/ [slide](https://zenodo.org/record/8087069/files/Sherman_DD2023.pptx.pdf) . 

**7 June 2023** - Donat Agosti presents "Matching material citations to occurrences: extending the biodiversity knowledge graph" at Digital Data in Biodiversity Research Conference 2023 at Arizona State University, Tempe, AZ. 

**12 November 2023** Anna Willoughby presented: Willoughby AR, Arnold K, Poelen J, Agosti D, Simmons N, Farrell M, Sherman A, Upham NS (2023) Beyond Boolean Search: Tools to identify comprehensive and inclusive scientific citations. Digitai Libraries Federation 2023 Forum. St. Louis, MO. 12 Nov. View materials [here](https://osf.io/xf2rv/).

**20 May 2024** Nathan Upham and Aja Sherman presented: "Bat Eco-Interactions Working Group" at [Global Union of Bat Diversity Networks (GBatNet)](https://www.gbatnet.org/) meeting in Houston, Texas. [slides](Upham_Sherman_GBatNet2024.pdf).  

**30 May 2024** - Kendra Phelps presents "A harmonized taxonomic resource is critical for accurately interpreting host-pathogen interactions" at Digital Data in Biodiversity Research Conference 2024 at University of Kansas, Lawrence, KS. [slides](Phelps_DD2024.pdf) by Kendra Phelps and [summary graphic](Phelps_DD2024_summary.jpg) by Courtney Foat from the University of Kansas .

<a href="/covid19/Phelps_DD2024.pdf"><img src="/covid19/Phelps_DD2024_title.jpg" style="width: 25%"/></a>
<a href="/covid19/Phelps_DD2024_summary.jpg"><img src="/covid19/Phelps_DD2024_summary.jpg" style="width: 25%"/></a>

**2 Aug 2024** - Publication of: Bat Literature Corpus (BatLit) v0.4 hash://md5/b394bdb081f55916b1226b5bc8ba972a . Also see https://batlit.org .

**25 Oct 2024** - North American Society for Bat Research (NASBR) Conference 2024 Symposium at Guadalajara: **Liberating, linking, and leveraging bat data for research and conservation** [abstracts](../assets/NASBR_Symposium_2024_Liberating_linking_and_leveraging_bat_data.pdf) [pdf](../assets/NASBR_Symposium_2024_Liberating_linking_and_leveraging_bat_data.pdf) [docx](../assets/NASBR_Symposium_2024_Liberating_linking_and_leveraging_bat_data.docx) [google doc](https://docs.google.com/document/d/1TFPWLNxf5KrczCNGQzybiru93AwRtbx7l6NNWVgRcbY) 

**25 Oct 2024** - Talk: Poelen JH, Sherman AC, Willoughby A, Agosti D, Simmons NA, Upham NS, Geiselman CK. 2024. BatLit.org - Mobilizing Bat Literature. North American Society on Bat Research Conference at Guadalajara 2024. <https://jhpoelen.nl/nasbr-talk-2024-10-25> <https://github.com/jhpoelen/nasbr-talk-2024-10-25> . <https://linker.bio/hash://sha256/b4506d7b0a4f260f022356cba7cee060267ce326e597f36d36ee98c00730102e>

**25 Oct 2024** - Talk: Upham NS, Hernández NAH, Fernández ALR, Sterner B, Franz N, Sherman AC, Geiselman CK, Simmons NB, Phelps K, Willoughby A, Groom Q, Agosti D, Reeder DM,Poelen JH, Burgin CJ. 2024. Why taxonomic splits matter for bat biodiversity and viral risk analyses. North American Society on Bat Research at Guadalajara 2024. [UphamEtAl_NASBR_BatTaxoViral_24Oct2024_final.pdf](../assets/UphamEtAl_NASBR_BatTaxoViral_24Oct2024_final.pdf)

# Publications

## Peer-Review Publications

Cook, J. A., Arai, S., Armién, B., Bates, J., Bonilla, C. A. C., Cortez, M. B. de S., Dunnum, J. L., Ferguson, A. W., Johnson, K. M., Khan, F. A. A., Paul, D. L., Reeder, D. M., Revelez, M. A., Simmons, N. B., Thiers, B. M., Thompson, C. W., Upham, N. S., Vanhove, M. P. M., Webala, P. W., … Soltis, P. S. (2020). Integrating Biodiversity Infrastructure into Pathogen Discovery and Mitigation of Emerging Infectious Diseases. BioScience, 70(7), 531–534. https://doi.org/10.1093/biosci/biaa064

Upham, N. S., Poelen, J. H., Paul, D., Groom, Q. J., Simmons, N. B., Vanhove, M. P. M., Bertolino, S., Reeder, D. M., Bastos-Silveira, C., Sen, A., Sterner, B., Franz, N. M., Guidoti, M., Penev, L., & Agosti, D. (2021). Liberating host–virus knowledge from biological dark data. The Lancet Planetary Health, 0(0). https://doi.org/10.1016/S2542-5196(21)00196-0

Groom, Q., Adriaens, T., Bertolino, S., Phelps, K., Poelen, J., Reeder, D., Richardson, D., Simmons, N., Trekels, M., & Upham, N. (2022). The Importance of Collecting and Archiving Data on Domestic and Cultivated Organisms. Biodiversity Information Science and Standards, 6, e90864. https://doi.org/10.3897/biss.6.90864

Groom, Q., Adriaens, T., Bertolino, S., Phelps, K., Poelen, J., Reeder, D., Richardson, D., Simmons, N., & Upham, N. (2021). Holistic understanding of contemporary ecosystems requires integration of data on domesticated, captive and cultivated organisms. Biodiversity Data Journal, 9, e65371. https://doi.org/10.3897/BDJ.9.e65371

Upham, N., Agosti, D., Poelen, J., Penev, L., Paul, D., Reeder, D., Simmons, N. B., Csorba, G., Groom, Q., Dimitrova, M., & Miller, J. (2020). Liberating Biodiversity Data From COVID-19 Lockdown: Toward a knowledge hub for mammal host-virus information. Biodiversity Information Science and Standards, 4, e59199. https://doi.org/10.3897/biss.4.59199

Van der Jeucht L, Groom Q, Agosti D, Phelps K, Reeder DM, Simmons NB (2021) Using iNaturalist to monitor adherence to best practices in bat handling. Biodiversity Data Journal 9: e68052. https://doi.org/10.3897/BDJ.9.e68052

## Data Publications

Poelen, J., Upham, N., Agosti, D., Ruschel, T., Guidoti, M., Reeder, D., Simmons, N., Penev, L., Dimitrova, M., Csorba, G., Groom, Q., & Willoughby, A. (2020). CETAF-DiSSCo/COVID19-TAF biodiversity-related knowledge hub working group: Indexed biotic interactions and review summary [Data set]. Zenodo. https://doi.org/10.5281/zenodo.4068958

Mast, A. R., Paul, D. L., Rios, N., Krimmel, E. R., Bruhn, R., Shorthouse, D. P., Simmons, N. B., Upham, N., & Soltis, P. (2020). Rapid Creation of a Data Product for the World’s Specimens of Horseshoe Bats and Relatives, a Known Reservoir for Coronaviruses [Data set]. Zenodo. https://doi.org/10.5281/zenodo.4047200

## Presentations

Sherman, Aja C., Geiselman, Cullen, Simons, Nancy B., Upham, Nathan S., Poelen, Jorrit H., Reeder, DeeAnn M., Bertolino, Sandro, Groom, Quentin, Phelps, Kendra, Agosti, Donat, & Willoughby, Anna R. (2022, August 7). What do we not know? Quantifying data gaps and biases in knowledge of bat co-roosting. 19th International Bat Research Conference, Austin, Texas, USA. Zenodo. [https://doi.org/10.5281/zenodo.6959687](https://doi.org/10.5281/zenodo.6959687).

Upham, N., Sherman, A., Geiselman, C., Simmons, N., Phelps, K., Willoughby, A., Groom, Q., Agosti, D., Reeder, D., & Poelen, J. (2023, October 5). Taxonomic translation of bat-virus interaction data via automated alignment tools. [https://doi.org/10.5281/zenodo.8409181](https://doi.org/10.5281/zenodo.8409181).

## Grants


U.S. National Institutes of Health, “Mammal-virus evolution from global to local scales” R35 in response to PAR-23-145, Secondary Analysis of Existing Datasets for Advancing Infectious Disease Research. Awarded: $250,000 direct costs (2025-2030), [1R35GM156919-01](https://reporter.nih.gov/search/jHonNExiyEulTWBDs1zc-Q/project-details/11022146) .

U.S. National Institutes of Health, “Intelligently predicting viral spillover risks from bats and other wild mammals” R21 in response to PA-19-068, Secondary Analysis of Existing Datasets for Advancing Infectious Disease Research (PIs N. Upham and D. Reeder; also B. Sterner, A. Sen, N. Franz, A. Varsani, J. Rees, D. Agosti, J. Poelen). Awarded: $301,232 direct costs (2021-2023), 1R21AI164268-01.

U.S. National Science Foundation, "RAPID: Rapid Creation of a Data Product for the World’s Specimens of Horseshoe Bats and Relatives, a Known Reservoir for Coronaviruses"  PI A. Mast, Co-PIs N. Rios, D. Paul https://www.nsf.gov/awardsearch/showAward?AWD_ID=2033973
