Please help translate this page by:

{% assign relative_url = page.url | replace: ".html", ".md" %}

1. editing <a href="https://github.com/globalbioticinteractions/globalbioticinteractions.github.io/edit/master{{ relative_url  }}">{{ relative_url }}</a>
1. replace English text with {{ site.t.language[page.lang] }}
1. <a href="https://help.github.com/en/articles/creating-a-pull-request">create a pull request</a> to add your translation

If you have any questions, please <a href="https://github.com/globalbioticinteractions/globalbioticinteractions.github.io/issues/new"> open an issue</a>.

-------
