<select id="interactionType">
    <option value="interactsWith">{{ site.t.interacts-with[page.lang] }}</option>
    <option value="ecologicallyRelatedTo">{{ site.t.relate-to[page.lang] }}</option>
    <option value="eats">{{ site.t.eat[page.lang] }}</option>
    <option value="eatenBy">{{ site.t.get-eaten-by[page.lang] }}</option>
    <option value="preysOn">{{ site.t.preys-on[page.lang] }}</option>
    <option value="preyedUponBy">{{ site.t.get-preyed-on-by[page.lang] }}</option>
    <option value="parasiteOf">{{ site.t.parasitize[page.lang] }}</option>
    <option value="hasParasite">{{ site.t.get-parasitized-by[page.lang] }}</option>
    <option value="hostOf">{{ site.t.host-of[page.lang] }}</option>
    <option value="hasHost">{{ site.t.has-host[page.lang] }}</option>
    <option value="symbiontOf">{{ site.t.is-symbiont-of[page.lang] }}</option>
    <option value="visitsFlowersOf">{{ site.t.visits-flowers-of[page.lang] }}</option>
    <option value="flowersVisitedBy">{{ site.t.flowers-visited-by[page.lang] }}</option>
    <option value="pollinates">{{ site.t.pollinate[page.lang] }}</option>
    <option value="pollinatedBy">{{ site.t.get-pollinated-by[page.lang] }}</option>
    <option value="pathogenOf">{{ site.t.infect[page.lang] }}</option>
    <option value="hasPathogen">{{ site.t.get-infected-by[page.lang] }}</option>
    <option value="vectorOf">{{ site.t.spread[page.lang] }}</option>
    <option value="hasVector">{{ site.t.get-spread-by[page.lang] }}</option>
    <option value="kills">{{ site.t.kill[page.lang] }}</option>
    <option value="killedBy">{{ site.t.is-killed-by[page.lang] }}</option>

</select>
