<select id="interactionType">
    <option value="interactsWith">interacts with</option>
    <option value="eats">eat</option>
    <option value="eatenBy">get eaten by</option>
    <option value="preysOn">preys on</option>
    <option value="preyedUponBy">get preyed on by</option>
    <option value="parasiteOf">parasitize</option>
    <option value="hasParasite">get parasitized by</option>
    <option value="symbiontOf">is symbiont of</option>
    <option value="visitsFlowersOf">visits flowers of</option>
    <option value="flowersVisitedBy">flowers visited by</option>
    <option value="pollinates">pollinate</option>
    <option value="pollinatedBy">get pollinated by</option>
    <option value="pathogenOf">infect</option>
    <option value="hasPathogen">get infected by</option>
    <option value="vectorOf">spread</option>
    <option value="hasVector">get spread by</option>
    <option value="kills">kill</option>
    <option value="killedBy">is killed by</option>
</select>
