<a class="logos" href="http://eol.org"><img src="/assets/EOL_logo_globeHIGHRES.jpg" alt="EOL Logo"/></a>
<a class="logos" href="http://gomexsi.tamucc.edu"><img src="/assets/gomexsi-logo-2.png" alt="GoMexSI Logo"/></a>
<a class="logos" href="https://www.biologie.hu-berlin.de/de/gruppenseiten/ecoevolpara/"><img src="/assets/heitlinger.svg" alt="Heitlinger Lab Logo"/></a>
<a class="logos" href="https://parasitetracker.org/"><img src="/assets/TPTlogo_wide.png" alt="Terrestrial Parasite Tracker"/></a>
<a class="logos" href="https://arctosdb.org/"><img src="/assets/arctos-logo.png" alt="Arctos Collaborative Management System"/></a>
