<a class="logos" href="http://eol.org"><img src="/assets/EOL_logo_globeHIGHRES.jpg" alt="EOL Logo"/></a>
<a class="logos" href="http://gomexsi.tamucc.edu"><img src="/assets/gomexsi-logo-2.png" alt="GoMexSI Logo"/></a>
<a class="logos" href="https://www.biologie.hu-berlin.de/de/gruppenseiten/ecoevolpara/"><img src="/assets/heitlinger.svg" alt="Heitlinger Lab Logo"/></a>
<a class="logos" href="https://parasitetracker.org/"><img src="/assets/TPTlogo_wide.png" alt="Terrestrial Parasite Tracker"/></a>
<a class="logos" href="https://arctosdb.org/"><img src="/assets/arctos-logo.png" alt="Arctos Collaborative Management System"/></a>
<a class="logos" href="https://ccber.ucsb.edu/"><img src="/assets/ccber.jpg" alt="Cheadler Center for Biodiversity and Ecological Restoration"/></a>
<a class="logos" href="https://bdmy.org.mx/"><img src="/assets/BDMYlogo.png" alt="BioDiversidad Marina de Yucatán"/></a>
<a class="logos" href="https://big-bee.net/"><img src="/assets/big-bee.png" alt="Big Bee"/></a>
